* {
  font-family: Arial, sans-serif;
}

.comments_list {
  overflow: auto;
}

.comments_wrapper {
  display: block;
  border: 0.2rem solid #2e3c7e;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 10px 20px;
  font-size: 1rem;
  background-color: white;
  word-wrap: break-word;
  animation: backInUp 0.5s;
}

@keyframes backInUp {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
     }
}

.comments_text {
  border: 0.2rem solid #2e3c7e;
  border-radius: 30px;
  padding: 10px 5px;
  font-size: 1rem;
  margin: 5px 10px;
  height: 95%;
  background: #fbeaeb;
  word-wrap: break-word;
  text-align: center;
  font-weight: bold;
}

.comments_rating {
  border: 0.2rem solid #2e3c7e;
  border-radius: 30px;
  padding: 5px 5px;
  margin: 5px 10px;
  height: 95%;
  justify-content: flex-end;
  background: #fbeaeb;
  filter: grayscale(0%);
  flex-direction: row;
  text-align: center;
}

.comments_rating img {
  width: 30px;
  height: 27px;
}

.comments_tag {
  border: 0.2rem solid #2e3c7e;
  border-radius: 30px;
  padding: 10px 5px;
  font-size: 1rem;
  margin: 5px 10px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #fbeaeb;
}

.tags {
  margin: 2px;
  color: #408415;
  text-align: center;
  font-weight: bold;
}

.tags::before {
  content: "#";
}

.comments_list::-webkit-scrollbar {
  display: none;
}

.comments_list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
