.rating_container {
    display: flex;
}

.rating_container input {
    display: none;
}

label > img {
    width: 30px;
    margin: 3px;
}

.rating_container > label :nth-child(4),
.rating_container > label :nth-child(5) {
    filter: grayscale(100%);
}

input.rating label {
    cursor: pointer;
    background-image: url("khuong.img");
}

input.rating:checked ~ label {
    filter: grayscale(100%);
}

