.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 90%;
    transform: translate(-50%, -50%);
    background: #FBEAEB;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
    display: none;
}

.modal .modal_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal .comments_list {
    padding: 10px 5px;
}

.rating_container {
    display: flex;
}

.modal .close {
    position: absolute;
    display: block;
    text-align: right;
    cursor: pointer;
    font-size: 2rem;
    color: #2E3C7E;
    top: 3%;
    right: 5%;
}

.modal h3 {
    text-align: center;
    margin-top: 10%;
    color: #2E3C7E;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal .modal_input {
    margin: 10px 40px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.modal .modal_row {
    position: relative;
}

.modal input {
    width: 100%;
    display: block;
    border: 0.3rem solid #2E3C7E;
    border-radius: 50px;
    padding: 10px 5px;
    margin: 10px auto;
    font-size: 1rem;
}

.modal #submit {
    width: 100%;
    display: block;
    background-color: #2E3C7E;
    color: #FBEAEB;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 5px;
    margin: 10px auto;
    cursor: pointer;
}

.rating_container input {
    display: none;
}

label > img {
    width: 30px;
    margin: 3px;
}

.rating_container > label :nth-child(4),
.rating_container > label :nth-child(5) {
    filter: grayscale(100%);
}

input.rating label {
    cursor: pointer;
    background-image: url("khuong.img");
}

input.rating:checked ~ label {
    filter: grayscale(100%);
}

