.modal {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 90%;
    transform: translate(-50%, -50%);
    background: #FBEAEB;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
    /* display: none; */
    z-index: 9999;
}

.modal .modal_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal .comments_list {
    margin-top : 2%;
    padding: 10px 5px;
    text-align: center;
    color: #2E3C7E;
    font-weight: bold;
}




.modal .close {
    position: absolute;
    display: block;
    text-align: right;
    cursor: pointer;
    font-size: 2rem;
    color: #2E3C7E;
    top: 1%;
    right: 5%;
}

.modal h3 {
    text-align: center;
    margin-top: 10%;
    color: #2E3C7E;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal .modal_input {
    margin: 5px 40px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.modal .modal_row {
    position: relative;
}

.modal input {
    width: 100%;
    display: block;
    border: 0.3rem solid #2E3C7E;
    border-radius: 50px;
    padding: 10px 5px;
    margin:  auto;
    font-size: 1rem;
}

.modal #submit {
    width: 100%;
    display: block;
    background-color: #2E3C7E;
    color: #FBEAEB;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 5px;
    margin: 10px auto;
    cursor: pointer;
}

.tag_class #input{
    width : 100;
    height : 40px;
    border : 0.3rem solid #2E3C7E;
    border-radius : 20px;
    display : flex;
    align-items: center;
    background: #FBEAEB;
  }

.tag_class #input #tag{
    height : 36px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align : center;
    line-height: 36px;
    min-width : 5rem;
    background : #2E3C7E;
    border-radius: 20px 0 0 20px;
    color: #FBEAEB;
  }
.tag_class #input input{
    height : 36px;
    font-size: 20px;
    width : 100%;
    background: transparent;
    border : none;
    margin : 0 5px;
  }
  .tag_class #input input:focus{
    outline :none;
  }
/* .tag_class #input:focus-within{
    box-shadow: 0 0 5px black;
   } */
   .tag_class #key{
       padding : 5px;
       display : flex;
  }
.tag_class .key-item{
    height : 30px;
    font-size: 20px;
    text-align : center;
    padding : 0 5px;
    line-height: 30px;
    border-radius : 18px;
    border : 2px solid #141A46;
    margin : 0 2px;
    display: inline-flex;
  }
.tag_class .cross{
    float : right;
    text-align : center;
    height : 20px;
    line-height: 15px;
    border : 2px solid #141A46;
    color: #FBEAEB;
    padding : 2px;
    border-radius: 50%;
    background: #141A46;
    margin : 3px 2px;
}
.tag_class .key-item-text{
    white-space: nowrap;
}
.tag_class .cross:hover{
    background: #FBEAEB;
    color: #141A46;
}
  .tag_class .cross:hover{
    background: white;
    color: black;
    z-index: 99999999999999999999;
  }


.rating_container input {
    display: none;
}

label > img {
    width: 30px;
    margin: 3px;
    filter: grayscale(0%);
}

input.rating label {
    cursor: pointer;
    background-image: url("khuong.img");
}

input.rating:checked ~ label {
    filter: grayscale(100%);
}

